<ul class="nav__list list-reset">
  <li class="nav__item">
    <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
  </li>
  {% for page in site.pages %}
    {% unless page.name == 'tags.html' or page.name == '404.html' %}
      {% if page.title %}
      <li class="nav__item">
        <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endunless %}
  {% endfor %}
  <div class="dropdown">
    <span>Games</span>
      <div class="dropdown-menu">
      {% for game in site.games %}
        <div class="dropdown-content">
          <a href="{{ game.url | prepend: site.baseurl }}" class="nav__link">{{ game.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</ul>