---
layout: default-game
---

<style>
    body { 
    background: url(/images/game-background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<!-- begin hero -->
<section class="hero-without-image-game">
  <div class="hero-inner">
    <div class="hero-content">
      <h1 class="hero__title">{{page.title}}</h1>
    </div>
  </div>
</section>
<!-- begin hero -->

<!-- begin page -->
<div class="container">
  <article class="page animate">
    <div class="page__content">
      {{ content }}
    </div>
  </article>
</div>
<!-- end page -->